@import '../../assets/styles/colors.scss';

.container-about {
    padding-left: 100px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;

    .flex-col-2{
        flex: 1 0 46%;
        margin: 40px;
    }

    h1 {
        font-size: 4vw;

        .name {
            color: $accent-color;
        }
    }

    .skills {
        display: flex;
        flex-wrap: wrap;

        .div-body {
            height: 225px;
            width: 225px;
            margin-bottom: -40px;
            margin-left: -15px;
        }
    
        .hexagon-wrapper {
            width: 235px;
            height: 260px;
            cursor: pointer;
            display: flex;
        }
    
        .hexagon {
            position: relative;
            width: 46%;
            height: 72%;
            margin: auto;
            color: white;
            background: $primary-color;
            background: linear-gradient(55deg, #000, $primary-color);
            display: flex;
            transform: rotateZ(90deg);
            animation: 1.6s linear 0s hex-anim;
            transition: all 1.2s ease-in-out;
        
            svg {
                z-index: 1;
                margin: auto;
                font-size: 80px;
                transform: rotateZ(-90deg);
                transition: all 1.2s ease-in-out;
                animation: 1.6s linear 0s hex-svg-anim;
            }
    
            &:before, &:after {
                position: absolute;
                content: "";
                background: inherit;
                height: 100%;
                width: 100%;
                transition: all 1.2s ease-in-out;
            }
    
            &:before {
                transform: rotateZ(60deg);
                animation: 1.2s linear 0.4s hex-bef-anim;
            }
    
            &:after {
                transform: rotateZ(-60deg);
                animation: 1.2s linear 0.4s hex-aft-anim;
            }
    
            &:hover {
                background: $accent-color;
                background: linear-gradient(75deg, #000, $accent-color);
                transition: all 1s ease-in-out;
        
                svg {
                    scale: 1.2;
                    transition: all 1s ease-in-out;
                }
            }
    
            
            &:hover:after, &:hover:before, &:hover {
                border-radius: 30px;
                transition: all 1s ease-in-out;
            }
        }
    
        .p-hexagon {
            margin-left: 90px;
        }
    }
}

@keyframes hex-anim {
    0% {width: 0%;
        height: 0%;}
    25% {width: 10%;
        height: 12%;}
    50% {width: 22%;
        height: 32%;}
    75% {width: 34%;
        height: 52%;}
    100% {width: 46%;
        height: 72%;}
}

@keyframes hex-svg-anim {
    0% {font-size: 0px;}
    25% {font-size: 20px;}
    50% {font-size: 40px;}
    75% {font-size: 60px;}
    100% {font-size: 80px;}
}

@keyframes hex-bef-anim {
    0%   {transform: rotateZ(-240deg);}
    20%   {transform: rotateZ(-180deg);}
    40%  {transform: rotateZ(-120deg);}
    60%  {transform: rotateZ(-60deg);}
    80%  {transform: rotateZ(0deg);}
    100% {transform: rotateZ(60deg);}
}


@keyframes hex-aft-anim {
    0%   {transform: rotateZ(240deg);}
    20%   {transform: rotateZ(180deg);}
    40%  {transform: rotateZ(120deg);}
    60%  {transform: rotateZ(60deg);}
    80%  {transform: rotateZ(0deg);}
    100% {transform: rotateZ(-60deg);}
}