@import '../../assets/styles/colors.scss';

.container {
    padding-left: 100px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-size: 50px;

        .name {
            color: $accent-color;
        }
    }

    h2 {
        color: $icon-white;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 2px;
    }

    .btn-outline {
        padding: 15px 30px;
        background-color: transparent;
        border: 1px solid $accent-color;
        color: $accent-color;
        font-size: 12px;
        letter-spacing: 3px;

        &:hover {
            background-color: $accent-color;
            color: $text-white;
            transition: all 0.3s ease-out;
        }
    }
}